<h1>YOUR PENSION PROVIDERS</h1>
<br>
  <a href="/provider/new">ADD NEW PROVIDER</a>
<br>
<br>
<br>
<table>
  <tr>
    <% for provider in @providers %>
    <td><h5><%= provider.name %>
      <br>
            <%= provider.fund.category %></h5>
      <br>
    <a href="/provider/<%= provider.id %>">Edit</a>

    <form action="/provider/<%= provider.id %>/delete" method="post">
      <input type="submit" value="DELETE">
    </form>
    </td>
    <% end %>
  </tr>
</table>

<table>
  <tr>
    <th style="width:50%">PROVIDERS</th>
    <th>DELETE</th>
    <th>EDIT</th>
  </tr>
  <tr>
    <td><% for provider in @providers %>
    <%= provider.name %><% end %></td>

    <td><form action="/provider/<%= provider.id %>/delete" method="post">
      <input type="submit" value="DELETE">
    </form><i class="fa fa-remove"></i></td>

    <td><a href="/provider/<%= provider.id %>">Edit</a><i class="fa fa-remove"></i></td>
  </tr>

  <tr>
    <td><% for provider in @providers %>
    <%= provider.name %><% end %></td>
    <td><form action="/provider/<%= provider.id %>/delete" method="post">
      <input type="submit" value="DELETE">
    </form><i class="fa fa-check"></i></td>
    <td><a href="/provider/<%= provider.id %>">Edit</a><i class="fa fa-check"></i></td>
  </tr>

  <tr>
    <td><% for provider in @providers %>
    <%= provider.name %><% end %></td>
    <td><form action="/provider/<%= provider.id %>/delete" method="post">
      <input type="submit" value="DELETE">
    </form><i class="fa fa-check"></i></td>
    <td><a href="/provider/<%= provider.id %>">Edit</a><i class="fa fa-check"></i></td>
  </tr>

  <tr>
    <td><% for provider in @providers %>
    <%= provider.name %><% end %></td>
    <td><form action="/provider/<%= provider.id %>/delete" method="post">
      <input type="submit" value="DELETE">
    </form><i class="fa fa-remove"></i></td>
    <td><a href="/provider/<%= provider.id %>">Edit</a><i class="fa fa-remove"></i></td>
  </tr>
</table>
